*{
	padding: 0px; 
	margin: 0px;
/* 	text-align: center; */
}

body{
	color: teal;
	font-family: "Segoe UI",Roboto,Arial,"Noto Sans",sans-serif;
	font-size: 20px;
	padding: 20px;
	line-height: 2;
/* 	margin-left: 50%; */
	/*  */
	
}
.container{
	text-align:center;
}
button{
	padding: 7px 9px 7px 9px;
	border-radius: 4px;
	color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    font-size: 15px;
}
input{
	width: 100%;
	height: 30px;
	font-size: 20px;
	border-radius: 10px;
	color: grey;
	padding: 3px;
	margin: 3px;
}
h1{
	font-family: "Comic Sans MS";
	/* background-color: #17a2b8; */
	color: gold;
	border-radius: 10px;
	text-shadow:
	    1px  1px 2px teal,
	    1px -1px 2px teal,
	   -1px  1px 2px teal,
	   -1px -1px 2px teal;

}
.edit{
	display:inline-block;
}
.delete{
	display:inline-block;
}
.leftContent{
  	display:inline-block;
  	width: 380px;
  	vertical-align:top;
	margin: 2px 25px 25px 25px;
	border: 1px solid teal;
	border-radius: 10px;
	padding:25px;
	height: 475px;
	overflow: auto;
}
.leftContent h3{
	text-align:left;
}

.search{
	margin: 60px 0px 10px 0px;
	text-align:right;
}

h4{
	color: gold;
	font-family: "Comic Sans MS";
	text-shadow:
	    1px  1px 1px teal,
	    1px -1px 1px teal,
	   -1px  1px 1px teal,
	   -1px -1px 1px teal;
}
.rightContent{
	width: 380px;
	padding:20px 32px 20px 20px;
	display:inline-block;
	border: 1px solid teal;
	border-radius: 10px;
	height: 485px;
	
}
.rightContent p{
	text-align: left;
}
.rightContent button{
	margin-left: 86%;
}
/*  */
.box{
	display:inline-block;
}
.button {
    font-size: 15px;
    padding: 8px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    background: #17a2b8;
/*     transition: all 0.1s ease-in-out; */
  }
  .button:hover {
    background: rgb(53, 211, 211);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
/*     transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: skyblue;
    border-radius: 5px;
    width: 30%;
    position: relative;
/*     transition: all 3s ease-in-out; */
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: lightblue;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  .edit p{
  	text-align: left;
  }
  .edit input{
  	width: 90%;
  }
  .edit select{
  	font-size: 20px;
  	color: grey;
  	margin-left: 5px;
  }
  textarea{
  	border-color: skyblue;
  	border-radius: 3px;
  	font-size: 20px;
  	width: 90%;
  	color: grey;
  }


